@using Uppfinaren_1._0.Models;
@model IEnumerable<Inventor>
@{
    ViewData["Title"] = "Inventor Gallery";
}
<h1>Inventors:</h1>
<ul class="inventors-list">
    @foreach (Inventor inventor in Model)
    {
        <div class="inventorCardWrapper">
        <li>
            <img src="@inventor.ImageUrl" alt="" style="width:300px; height: 300px;"">
            <a asp-action="Info" asp-route-id="@inventor.Id">@inventor.Name</a>
        </li>
        </div>
    }
</ul>