@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h1>Pick your poison</h1>
    <a asp-controller="ArtworkGallery" asp-action="Index">Artwork Gallery</a>
    <a asp-controller="InventorGallery">Inventors</a> 
</div>
